body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.thumb {
	width: 76px;
	height: 76px;
	object-fit: cover;
}

.thumb-table {
	width: 52px !important;
	height: 52px !important;
}
